@import 'utils/reset';
@import 'utils/default';
@import 'parts/header';
@import 'parts/footer';

/* slider */
.slider {
  width: 100%;
  height: 80vh;
  background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url(../images/header-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 4.7rem;
    background: url(../images/wave-small.png) center no-repeat;
    background-size: cover;
  }

  .slider__message {
    width: 100%;
    max-width: 60rem;
    color: #fafafa;
    text-transform: uppercase;
    transform: translateY(20%);

    .slider__sub {
      font-size: 1.6rem;
    }

    .slider__title {
      font-family: "Aldrich", sans-serif;
      font-size: 4rem;
      margin: 1rem 0;
    }

    .slider__text {
      text-transform: lowercase;
    }
  }
}

/* activities - outdoors */
.activities {
  padding: 0;

  .activities__grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;

    .activities__item {
      height: 40rem;
      padding: 5rem;
      color: #fafafa;
      position: relative;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-pack: center;
      justify-content: center;
      cursor: pointer;
      z-index: 1;

      &-stars {
        background: url(../images/stars.jpg);
      }

      &-hiking {
        background: url(../images/hiking.jpg);
      }

      &-camping {
        background: url(../images/camping.jpg);
      }

      .activities__icon {
        font-size: 4rem;
        color: #eb648c;
      }

      .activities__title {
        font-family: "Aldrich", sans-serif;
        font-size: 1.7rem;
        text-transform: uppercase;
        margin: 2rem 0;
      }
    }

    .activities__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%);
      z-index: -1;
    }
  }
}

/* testimonials */
.testimonials {
  width: 100%;
  height: 80vh;
  background: linear-gradient(135deg, rgba(49, 24, 131, 0.9) 0%, rgba(72, 56, 149, 0.8) 100%), url(../images/testimonials-bg.jpg) center no-repeat fixed;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 100%;
    height: 4.7rem;
    background: url(../images/wave-small-reversed.png) center no-repeat;
    background-size: cover;
  }

  .testimonials__item {
    width: 100%;
    color: #fafafa;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .testimonials__description {
      padding: 0 1.5rem;
      margin-bottom: 2rem;
      position: relative;

      .testimonials__text {
        margin: 1rem 0;
      }

      .testimonials__icon {
        position: absolute;
        top: -8rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 8rem;
        color: #eb648c;
        opacity: .5;
        z-index: -1;
      }

      .testimonials__image {
        width: 10rem;
        height: 10rem;
        border-radius: 100%;
        border: 3px solid #eb648c;
      }
    }
  }
}

/* begin adventures */
.adventure__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  margin-bottom: 2rem;

  .adventure__text {
    color: rgba(0, 0, 0, 0.7);
  }
}

/* medias queries */
@media screen and (min-width: 350px) {
  .slider {
    .slider__message {
      transform: translateY(45%);
    }
  }
}

@media screen and (min-width: 470px) {
  .slider {
    &::before {
      height: 9.4rem;
      background: url(../images/wave-medium.png);
      background-size: cover;
    }
  }

  .testimonials {
    &::before {
      height: 9.4rem;
      background: url(../images/wave-medium-reversed.png);
      background-size: cover;
    }
  }
}

@media screen and (min-width: 700px) {
  .header__link {
    &:hover {
      .slider {
        height: 60vh;
      }
    }
  }

  .slider {
    .slider__message {
      transform: translateY(65%);
    }
  }

  .spotlight {
    .spotlight__title {
      font-size: 2.5rem;
    }
  }
}

@media screen and (min-width: 950px) {
  .slider {
    &::before {
      height: 22.7rem;
      background: url(../images/wave-large.png);
      background-size: cover;
    }
  }

  /* testimonials */
  .testimonials {
    &::before {
      height: 22.7rem;
      background: url(../images/wave-large-reversed.png);
      background-size: cover;
    }

    .testimonials__item {
      top: 65%;
    }
  }
}

@media screen and (min-width: 1200px) {
  .slider {
    height: 75vh;
  }
}